body > div{
  color: #111;
  box-sizing: border-box;
}
.display-none {
  display: none;
}
ul{
  padding: 0;
  margin: 0;
}
ul li{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
input{
  width: 100%;
  padding: 10px 15px;
  border-radius: 6px;
  border-color: #eee;
  box-shadow: none;
  box-sizing: border-box;
}
input:focus-visible {
  outline: none;
}

.app-weather {
  background-color: #c2c2c2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-app {
  background-color: #eee;
  max-width: 1200px;
}
.content-body {
  display: flex;
  flex-direction: row;
}
.sidebar {
  width: 30%;
  margin-right: 20px;
  background-color: #fff;
}
.sidebar .col-left {
  padding: 20px;
}
.bar .desc, .clound {
  color: #838383;
  text-transform: capitalize;
  margin-top: 3px;
}
.box .img {
  margin-top: 20px;
}
.title h1 {
  margin-top: 0;
}

.content-body .content {
  width: 70%;
  padding: 30px 0;
}
.content ul.items-center {
  display: flex;
}
.content .items-center .item {
  padding: 0 10px;
}
.nav .item a {
    font-size: 16px;
    color: #666;
    text-transform: capitalize;
    font-weight: bold;
}
.nav .item a.active {
  text-decoration: underline;
  color: #111;
}

.content .grid-item {
  padding: 30px 20px 30px 0px;
}
.grid-item  .items {
  display: flex;
  flex-wrap: wrap;
}
.items .group-item {
  width: calc( 33.33% - 20px);
  margin: 10px;
  padding: 10px;
  background-color: #FFF;
  border-radius: 6px;
  box-sizing: border-box;
}
.today .group-item:nth-child(3) .index .wrap {
  display: flex;
  justify-content: space-around;
}
.grid-week .group-item {
  width: calc( 25% - 10px );
  margin: 5px;
}
.grid-week .group-item.active,
.grid-week.items .group-item:hover{
  background-color: #34ffea;
}
.grid-week.items .group-item:not(.active):hover{
  cursor: pointer;
}
.group-item .name {
  color: #808080;
  text-transform: capitalize;
}
.index .wrap {
  text-align: center;
  margin-top: 15px;
}
.wrap svg {
  fill: #ffe400;
  font-size: 36px;
}
.index .wrap .text-index {
  font-weight: 700;
  font-size: 20px;
  margin: 10px 0 0 0;
}
.short-info .rounded-mid {
  display: flex;
}
.rounded-mid .w-50 {
  width: 50%;
}
.grid-week .items-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.weight-bold {
  font-weight: bold;
}
.rounded-date {
  font-size: 18px;
}
.text-main {
  font-weight: 600;
}
.short-info {
  margin: 30px 5px 0 5px;
  background-color: #FFF;
  border-radius: 6px;
  padding: 10px 20px;
}